html {
    background: #e3e3e3
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #242424;
    background: #fff;
}

h1 {
    font-size: 3em;
    margin: 0;
}

p {
    line-height: 1.4em;
}

img {
    width: 500px;
    float: left;
    padding: 40px;
}

#blog {
    border-top: 1px dotted #ccc;
}

.blog-post {
    border-bottom: 1px dotted #ccc;
}

#navbar {
    font-family: Arial, Helvetica, sans-serif;
    position: sticky;
    color: white;
    top: 0;
    background: #242424;
    font-size: 3em;
    padding-right: 30px;
    justify-content: space-between;
}

a:visited { 
    text-decoration: none; 
    color: white; 
}

a:link { 
    text-decoration: none; 
}


a:hover { 
    text-decoration: lightslategrey; 
}


a:active { 
    text-decoration: none; 
}

article {
    background: #ccc;
    padding: 20px;
    margin: 20px;
    flex: 1;
}

section {
    display: flex;
}

@media (max-width: 400px) {
    .blog-post { 
        width: 30%;
    }
}
